@import url('https://fonts.googleapis.com/css?family=Roboto');

/* * { box-sizing: border-box; } */

html, body{
	margin: 0;
}

body{
	background: #CA136B;
	font-family: 'Roboto', sans-serif;
}

.container{

}

header{
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

header div{
    width: 100px;
    height: 40px;
    overflow: visible;
}

.shadow{
    box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.3), 0 0 0 0 rgba(0, 0, 0, 0.3);
}

#menu{
    min-width: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #E22E8C;
}

#logo {
	align-self: flex-end;
}

#logo img{
	width: 100%;
	height: auto;
}

#cart{
    width: 150px;
    min-width: 100px;
    background: #E22E8C;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content{

}

.content h1{
	color: #fff;
	text-transform: uppercase;
	font-size: 32px;
	position: absolute;
	top: 170px;
	right: 25px;
	width: 350px;
	text-align: center;
}

label{
    text-transform: uppercase;
    font-size: 16px;
    color: #336AC9;
    font-weight: bold;
}

input{
    color: #CA136B;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 5px 0 5px 12px;
    width: 60px;
    height: 25px;
}

#checkoutNav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 400px;
    background: #336AC9;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    z-index: 2;
    position: absolute;
    left:0;
    top:310px;
}

#checkoutNav ul{
    color: #D5D2DD;
    list-style: none;
    padding: 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

#checkoutNav ul i.fa {
    font-size: 25px;
}

.active{
    color: #FBFBFB;
}

#product{
	max-width: 1000px;
	max-height: 752px;
	border-radius: 10px;
	overflow: hidden;
	margin-left: 50px;
	margin-top: 20px;
}

#product img{
	object-fit: scale-down;
	display: block;
	max-width: 100%;
}

#checkoutCard{
    max-width: 400px;
    background: #FBFBFB;
    border-radius: 10px;
    position: absolute;
    top: 310px;
    right: 25px;
}

#details{
    padding: 10px;
    background: linear-gradient(#FBFBFB 40%, #D5D2DD 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#details .labels{
    color: #D5D2DD;
    text-transform: uppercase;
}

#details .metrics{
    color: #336AC9;
}
#checkoutCard ul{
    list-style: none;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    padding: 0;
    margin: 20px auto;
    font-size: 18px;
}

#checkoutCard ul li input{
    width: 30px;
    height: 30px;
    margin-left: 70px;
    color: #336AC9;
}
#thumbContainer{
    width: 0px;
}
#thumbnail{
    position: relative;
    left: -38px;
    width: 175px;
    height: 74.5px;
    /*transform: scale(0.5);*/
}
#checkoutCard form #cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 30px 0 0 0;
}
#checkoutCard form #cards ul{
    margin: 0;
    padding-left: 10px;
    width: 255px;

}
#cards i.fa {
    font-size: 40px;
    color: #D5D2DD;
}
#cards i.fa.fa-cc-visa {
    color: #CA136B;
}
#cards label{
    margin: 0 0 0 20px;
}
#cardNumber{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
}
#cardNumber label{
    width: 100%;
    margin: 0 0 30px 20px;
}
#cardNumber input{
    margin-left: 20px;
    background: #D5D2DD;
    text-align: center;
}

#securityInfo{
    width: 100%;
    margin: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    padding-left: 0;
}

#securityInfo label{
    width: 30%;
    text-align: center;
}

#securityInfo input{
    margin: 20px 0 0 0;
    background: #D5D2DD;
}

#securityInfo input[type="text"]{
    padding: 5px 10px;
}

#btnSubmit{
    margin: 10px 0 0 0;
    text-align: center;
    width: 100%;
    border: none;
    height: 50px;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: #336AC9;
    color: #FBFBFB;
    font-size: 20px;
}

footer{
    text-align: center;
    padding: 10px;
    color: #FBFBFB;
}

footer a{
    color: #FBFBFB;
    padding: 0 20px;
    text-decoration: none;
}

footer a:hover{
    color: #336AC9;
}