body{
margin:0;
font-family:Arial, Helvetica, sans-serif;
color:white;

}

.container {
	background-image: linear-gradient(70deg,#4A569D, #DC2424);
	width: 400px;
	margin-right:auto;
	margin-left:auto;
	padding:30px;
	border-radius:20px;
}
input {
	border-radius:20px;
	padding-left:10px;
	margin:15px 0;
}
select { 
	border-radius:20px;
 }
 label{
 	margin-left: 5px;
 }
 button {
 	border-radius:20px;
 	background-color:#4B0082;
 	color:white;
 	height:50px;
 	width:200px;
 	margin-right:auto;
 	margin-left:100px;
 	font-weight:bold;
 	
 }
button:hover {
 	background-color:#8A2BE2;
 }
